/* Universal Styles */

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background-color: white;
  color: #444;
}

body {
  line-height: 1.4;
}

section {
  display: flex;
  align-items: center;
  align-content: flex-start;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2.25rem;
  text-align: left;
  line-height: 1;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem 0;
  text-align: left;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: left;
}

h4 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 2.25rem;
  text-align: left;
  letter-spacing: 1px;
}

p {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.readmore {
  color: #0000EE;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2.25rem;
    text-align: left;
    line-height: 1;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: left;
    letter-spacing: 1px;
  }
}

/* Button Styles */

button {
  background-color: #4a4a4a;
  border: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 0px;
  width: 80%;
  transition: all 0.5s;
  cursor: pointer;
}

button a {
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  text-decoration: none;
  color: white;
  padding: 8px 0;
}

button a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 400ms;
  padding: 8px 0;
}

button:hover {
  background-color: #9b9b9b;
}

button:hover a {
  padding-right: 25px;
}

button:hover a:after {
  opacity: 1;
  right: 0;
}


/* Header Section */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  height: 4rem;
}

header div {
  display: flex;
  align-items: center;
  height: 2rem;
  }

header span {
  text-transform: uppercase;
  font-size: 1.5rem;
  }

header li {
  display: inline;
  padding: 0 0.5rem;
}

.bold {
  font-weight: 700;
}

.light {
  color: #777;
}

.mobile-main-nav {
  display: none;
}

@media only screen and (max-width: 768px) {
  header .logo, header nav {
    display: none;
  }

  nav.mobile-main-nav, nav.mobile-main-nav ul {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
  }
}

/* Banner Section */

.banner {
  /* display: flex; */
  background-color: #d8d8d8;
  /* align-items: center; */
  /* align-content: flex-start; */
}

.banner-img {
  width: 60%;
  height: auto;
  margin: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.banner-img img {
  width: 100%;
  height: auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 30%;
}

@media only screen and (max-width: 768px) {
  .banner {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .banner-img {
  width: 100%;
  margin: 0px 0px 0px 0px;
  }

  .header {
    width: 100%;
    padding: 2rem 1rem;
    align-items: center;
    box-sizing: border-box
  }

  .banner header a, .banner header h1, .banner-content button {
    width: 100%;
    align-items: center;
  }
}

/* Info Section */
.info {
  background-color: #f3f5f5;
}

.info-featured {
  width: 60%;
  height: auto;
  margin: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.info-featured img {
  width: 100%;
  height: auto;
}

.info-sidebar {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  width: 40%;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.info-img {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.info-img img {
  width: 35%;
  padding: 0.5rem 0.5rem;
}

.info-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#quote {
  font-size: 0.75rem;
  line-height: 1;
  text-align: left;
  font-weight: bold;
  margin-bottom: 2rem;
}

.guest {
  background-color: #d8d8d8;
 }


.sidebar-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .info-featured {
    display: none;
  }

  .info-sidebar {
    display: none;
  }

  .sidebar-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
  }

  .info-img {
    display: flex;
    flex-direction: column;
  }

  .info-img img {
    width: 100%;
    height: auto;
    max-width: 320px;
    padding: 4rem 1rem 1rem 1rem;
    justify-content: space-around;
  }

  .info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0 4rem 0;
}

  .guest {
  background-color: #d8d8d8;
  }
}

/* Courses */

.courses {
    background-color: #d8d8d8;
}

.courses h2 {
  width: 100%;
  text-align: center;
}

.courses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.course-img {
  width: 30%;
  padding: 1rem 1rem 1.5rem 1rem;
}

.course-img img {
  height: auto;
  width: 100%;
}

.course-info {
  display:flex;
  flex-direction: column;
  width: auto;
  height: auto;
  background-color: white;
  padding-left: 1.0rem;
  height: 180px;
}

.course-mobile {
  display: none;
}

#course {
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#cap {
  text-transform: uppercase;
  text-align: left;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Media Queries (courses) */

@media only screen and (max-width: 800px) {
  .courses {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0rem;
  }

  .courses-container {
    display: none;
  }

  .course-mobile {
    display: block;
    justify-content: center;
    width: 85%;
    max-width: 500px;
    margin-bottom: 2rem;
  }

    h4 {
      background-color: #d8d8d8;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 1rem 0 1rem 1rem;
      margin-bottom: 0.5rem;
      padding-top: 1rem;
      text-align: left;
      letter-spacing: 1px;
    }

}

/* Thesis */

.thesis {
  display: block;
}

.thesis h2 {
  width: 100%;
  text-align: center;
}

.thesis-container {
  display: inline-flex;
}

.video-container {
  width: 100%;
  height: auto;
  margin: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
}

video {
  margin-bottom: 1.5rem;
}

.thesis-sidebar {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  width: 40%;
}

.thesis-sidebar div:first-child {
  background-color: #d8d8d8;
}

.thesis-img {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.thesis-img img {
  width: 35%;
  padding: 1rem 1rem;
}

.thesis-box {
  width: 65%;
}

.video-mobile {
  display: none;
}

/* Media Queries (thesis) */

@media only screen and (max-width: 800px) {
  .video-mobile {
    display: block;
  }

  .video-container, .thesis-sidebar {
    display: none;
  }

  h2 {
    padding-bottom: 2rem;
  }
}

/* Footer */

footer {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-top: 1px solid #2A3132; /* shadow */
}

footer span {
  margin-left: 1.5rem;
  font-size: 0.8rem;
}

footer nav ul li a {
  font-size: 0.8rem;
}

/* Media Queries (footer) */

@media only screen and (max-width: 800px) {
  nav {
    display: none;
  }

  footer {
    border-top: 1px solid #2A3132; /* shadow */
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
