/* Universal Styles */

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background-color: white;
  color: #444;
}

body {
  line-height: 1.4;
}

/* .flex {
  display: flex;
} */

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

/* Header Section */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  height: 4rem;
}

nav div {
  display: flex;
  align-items: center;
  height: 2rem;
}

nav span {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.bold {
  font-weight: 700;
}

.light {
  color: #777;
}

nav li {
  display: inline;
  padding: 0 0.5rem;
}

.mobile-main-nav {
  display: none;
}

/* Banner Section */
.banner {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  background-color: #eaeaea;
  align-items: center;
  align-content: flex-start;
}


.banner img {
  padding: 2rem 1.5rem;
  width: 60%;
}

.header {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  width: 20%;
}
